@charset "utf-8";

.-relative {
	position: relative;
}

.-absolute {
	position: absolute;
}

.-clearfix {
	overflow: hidden;
}
.-float-left {
	float: left;
}
.-float-right {
	float: right;
}

.-top {
	vertical-align: top;
}
.-middle {
	vertical-align: middle;
}
.-bottom {
	vertical-align: bottom;
}

.-inline {
	display: inline-block;
	vertical-align: bottom;
}
.-block {
	display: block;
}

.-mt2 {
	margin-top: 2px;
}
.-mt4 {
	margin-top: 4px;
}
.-mt8 {
	margin-top: 8px;
}
.-mt12 {
	margin-top: 12px;
}
.-mt16 {
	margin-top: 16px;
}
.-mb2 {
	margin-bottom: 2px;
}
.-mb4 {
	margin-bottom: 4px;
}
.-mb8 {
	margin-bottom: 8px;
}
.-mb12 {
	margin-bottom: 12px;
}
.-mb16 {
	margin-bottom: 16px;
}
.-ml2 {
	margin-left: 2px;
}
.-ml4 {
	margin-left: 4px;
}
.-ml8 {
	margin-left: 8px;
}
.-ml12 {
	margin-left: 12px;
}
.-ml16 {
	margin-left: 16px;
}
.-mr2 {
	margin-right: 2px;
}
.-mr4 {
	margin-right: 4px;
}
.-mr8 {
	margin-right: 8px;
}
.-mr12 {
	margin-right: 12px;
}
.-mr16 {
	margin-right: 16px;
}

.-pa4 {
	padding: 4px;
}
.-pa8 {
	padding: 8px;
}

.-pt4 {
	padding-top: 4px;
}
.-pt8 {
	padding-top: 8px;
}
.-pt12 {
	padding-top: 12px;
}
.-pt16 {
	padding-top: 16px;
}
.-pt24 {
	padding-top: 24px;
}


.-pb4 {
	padding-bottom: 4px;
}
.-pb8 {
	padding-bottom: 8px;
}
.-pb12 {
	padding-bottom: 12px;
}
.-pb16 {
	padding-bottom: 16px;
}
.-pb24 {
	padding-bottom: 24px;
}

.-pl4 {
	padding-left: 4px;
}
.-pl8 {
	padding-left: 8px;
}
.-pl12 {
	padding-left: 12px;
}
.-pl16 {
	padding-left: 16px;
}

.-pr4 {
	padding-right: 4px;
}
.-pr8 {
	padding-right: 8px;
}
.-pr12 {
	padding-right: 12px;
}
.-pr16 {
	padding-right: 16px;
}

